---
---

@import 'contact';

html, body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #536167;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Ibarra Real Nova', serif;
}

h2 {
    color: #247BA0;
    font-size: 2em;
}

a {
    color: inherit;
}

.about {
    // background: #FFCDB2;
}

section {
    padding: 80px 0;
    .h2 {
        font-size: 1.4em
    }
}


.container  {
    width: 800px;
    margin: auto;
    padding: 0 40px;
}

.banner {
    // background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-color: #cee8e4;
    font-size: 1.5em;
    height: 300px;
    // text-align: center;
    // padding: 0;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 2.6em;
        margin: 0;
        line-height: 1em;
    }

    a {
        font-size: 0.6em;
        padding-right: 10px;
        font-family: 'Ibarra Real Nova', serif;
        font-weight: bolder;
    }

    em {
        font-size: 1.3em;
        margin: 0;
        line-height: 0.8em
    }

    p {
        font-size: 1em;
    }

}