---
layout: default
title: David Waugh Plasterer - Thatcham
---

  <!-- Includes the text captures -->
  {% include content.html %}

  <section class="banner">
    <div class="container">

      <div class="image">
        <img src="./images/banner.jpg" alt="">
      </div>

      {{ banner-text | markdownify }}

    </div>
  </section>

  <section id="about" class="about">
    <div class="container">

      <div class="image">
        <img src="./images/about.jpeg" alt="">
      </div>

      <div class="col">
        {{ about-text | markdownify }}
      </div>
    </div>
  </section>

  <section class="image-gallery">
    <div class="container">
      {% for image in   site.static_files %}
      {% if image.path contains 'images/gallery/thumbs/' %}
      <a class="image" href="{{ site.baseurl }}/images/gallery/{{ image.name }}">
        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <section id="contact" class="contact">

    <div class="container">

      <div class="image">
        <img src="./images/contact.jpg" alt="">
      </div>

      <div class="col">
        {{ contact-text | markdownify }}

        <form action="https://formspree.io/davidwaughplastering@virginmedia.com" method="POST">
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="_replyto" placeholder="Email">
          <textarea name="message"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>


    </div>
  </section>
