.contact {
  // background: #efefef;

  .image {
    @include image;
  }

  p:last-of-type {
    margin-bottom: 40px
  }

  form {
    width: 300px;
  }

  select,
  input,
  textarea {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 20px;
    height: 63px;
    box-sizing: border-box;
    background: #fff;
    border: 2px solid $color-main;
    font-size: 1em;
  }

  textarea {
    height: 200px;
    padding: 20px;
  }

}

.contact-error {
  margin-bottom: 20px;
}

input[type=submit] {
  width: 100%;
  margin: 23px auto 0;
  border: none;
  color: white;
  padding: 20px;
  background-color: $color-second;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 0;
}